<article id="post-{{ post.ID }}" {{ post.class }}>
    <header class="page-header">
        <h1>{{ post.title }}</h1>
    </header>
    <div class="entry-content">
        {{ post.content }}
    </div><!-- .entry-content -->
</article><!-- #post-## -->
<hr/>
{{ include('includes/comments.twig') }}
