{% extends 'layouts/base.twig' %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <div class="loc-cat-wrapper">
              {{ paged }}
              <h1></h1>
              <div class="grid-ctn">
                <div class="row">
                {% for post in posts %}
                  {% if (loop.index - 1) is divisible by(4) %}
                    </div>
                    <div class="row">
                  {% endif %}
                  <div class="gr-3">
                    <a href="{{ post.link }}" class="{% if post.nombre_en_stock <= 0 %} no-stock {% endif %}">
                      <img src="{{ TimberImage(post.image).src('thumbnail') }}" alt="{{ TimberImage(post.image).alt }}" />
                      <p>{{ post.title }}</p>
                      {% if post.nombre_en_stock <= 0 %} <p class="stock">Article en rupture de stock.</p> {% endif %}
                    </a>
                  </div>
                {% endfor %}
                </div>
              </div>
              <div class="cat-pagination">
                {% if pagination.prev %}
                  <a href="{{ pagination.prev.link|trailing_slash }}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">&lt;</a>
                {% endif %}
                <ul>
                  
                  {% for page in pagination.pages %}
                    <li>
                      {% if page.link %}
                        <a href="{{ page.link|trailing_slash }}" class="{{page.class}}">{{page.title}}</a>
                      {% else %}
                        <span class="{{page.class}}">{{page.title}}</span>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>

                {% if pagination.next %}
                  <a href="{{ pagination.next.link|trailing_slash }}" class="infinite-more-link next {{pagination.next.link|length ? '' : 'invisible'}}">&gt;</a>
                {% endif %}
              </div>
            </div>
        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}
