{% extends 'layouts/base.twig' %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <div class="wishlist-wrapper">
              <h1>{{ post.title }}</h1>

              {% if messageSent == 1 %}
                <h2>Votre list a bien été envoyée!</h2>
                <p>Merci! Les soeurs s'en mèlent vous contacteront très bientôt!</p>
              {% else %}
                {% if messageSent == 2 %}
                  <h2>Oups! Un problème est survenu</h2>
                  <p>{{mailError}}</p>
                  <p>Merci de réessayer ci-dessous.</p>
                {% endif %}                
                {% if error == 1 %}
                  <div class="error">Votre liste est vide. Merci de commencer par selectionner des produits dans la page <a href="{{function('get_permalink', 118)}}">Location/Vente</a></div>
                {% else %}
                  <ul class="product-list grid-ctn">
                  {% for product in posts %}
                    <li class="row {% if loop.index is divisible by(2) or loop.index == 0 %} mod-line {% endif %}">
                      <div class="gr-2"><img src="{{ TimberImage(product.image).src('thumbnail') }}" alt="{{ TimberImage(product.image).alt }}"/></div>
                      <div class="gr-4"><h3 class="mtop">{{product.title}}</h3></div>
                      <div class="gr-3"><span class="mtop">
                          {% if types[loop.index0] == 0 %}
                            Louer
                          {% else %}
                            Acheter
                          {% endif %}
                        x{{nbs[loop.index0]}}
                      </span></div>
                      <div class="gr-2">
                        <form method="POST" action="">
                          <input type="hidden" id="send" name="del" value="{{product.id}}">
                          <button type="submit">
                            <span>Supprimer</span>
                          </button>
                        </form>
                      </div>
                    </li>
                  {% endfor %}
                  </ul>

                  <div class="send form">
                    <h2>Envoyer ma liste</h2>
                    <form method="post" action="">
                      <div class="grid-ctn">
                        <div class="row">
                          <div class="gr-12">
                            <input class="mandatory small" type="text" id="surname" name="surname" placeholder="prénom*">
                          </div>
                          <div class="gr-12">
                            <input class="mandatory small" type="text" id="lastname" name="lastname" placeholder="nom*">
                          </div>
                          <div class="gr-12">
                            <input class="mandatory email small" type="email" id="email" name="email" placeholder="email*">
                          </div>
                          <div class="gr-12">
                            <input type="hidden" id="send" name="send" value="1">
                            <input type="hidden" id="yoyo" name="yoyo" value="yoyo4325435654654">
                            <button  id="submit-form" type="submit">
                              <span>Envoyer</span>
                            </button>
                          </div>
                          <div class="gr-12 last"><span class="mention">*Les champs avec un astérisque sont obligatoires</span></div>
                        </div>
                      </div>
                    </form>
                  </div>

                {% endif %}
              {% endif %}

              
            </div>
        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}
