{% extends 'layouts/base-no-container.twig' %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">

            <div class="formule-wrapper">
                {% for item in post.get_field('paragraphe') %}
                    <div class="container grid-ctn">
                        <div class="gr-4"><img src="{{ TimberImage(item.image).src }}" alt="{{ TimberImage(item.image).alt }}"/></div>
                        <div class="gr-1"></div>
                        <div class="gr-7">{{item.texte}}</div>
                        <div class="gr-12 bottom-link"><a href="{{item.liens}}">{{item.label_liens}}</a></div>
                    </div>
                {% endfor %}
                <div class="container grid-ctn">
                    <div class="gr-12 big_paragraph">{{post.extra_paragraphe}}</div>
                </div>
                <div class="block-content">
                    <div class="container">
                        <div class="content">
                            <a name="form"></a>
                            {% include('includes/form.twig') %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main><!-- #main -->
</div><!-- #primary -->
{% endblock %}
