{% extends 'layouts/base.twig' %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <div class="blog-list-wrapper">
                <div class="text-content">
                    {{ post.content }}
                </div>
                <div class="grid-ctn  blog-grid">
                <div class="row">
                {% for blog_post in posts %}
                    {% if (loop.index + 1) is divisible by(2) %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="gr-6">

                        <div class="blog-block">
                            {% set image = function('catch_that_image', blog_post.content) %}
                            <a href="{{blog_post.link}}" class="{% if image is not empty %}with-image{% endif %}">
                                {% if image is not empty %}
                                    <div class="image"><img src="{{image}}" /></div>
                                {% endif %}
                                <div class="text">                                    
                                    <div class="date">
                                        <span class="day">{{blog_post.date('j')}}</span>
                                        <span class="month">{{blog_post.date('F')}}</span>
                                    </div>
                                    <h3>{{blog_post.title}}</h3>

                                    {{blog_post.content|excerpt(30)}}

                                    <div class="btn-wrapper"><div class="round-btn invert">Lire la suite...</div></div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                </div>

                <div class="pagination">
                    {% if pagination.prev %}
                        <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prec</a>
                    {% endif %}
                    <ul class="pages">
                        {% for page in pagination.pages %}
                            <li>
                                {% if page.link %}
                                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                                {% else %}
                                    <span class="{{page.class}}">{{page.title}}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if pagination.next %}
                        <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Suivant</a>
                    {% endif %}
                </div>
            </div>

        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}
