<div class="deco formule-ctn services">
   <h2>{{ post.titre_services }}</h2>
   <div class="cat-descr">{{ post.description_services }}</div>

   <div class="list grid-ctn">
      {% for cat in categories %}

        {% if cat.id == 4 %}
          {% for child in cat.children %}
            <div class="gr-4">
              <h3>{{child.name}}</h3>
              <ul>
                {% for post in child.get_posts %}
                  <li><a href="{{post.link}}">{{post.title}}</a>  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}

        {% endif %}
      {% endfor %}
   </div>

</div>
